
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>SUNY CAR</title>
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href='//fonts.googleapis.com/css?family=Playball' rel='stylesheet' type='text/css'>   
<!--slider-->
<script src="js/jquery.min.js"></script>
<script src="js/script.js" type="text/javascript"></script>

</head>
<body>
<div class="header-bg">
	<div class="wrap"> 
		<div class="h-bg">
			<div class="total">
				<div class="header">
					<div class="box_header_user_menu">
		            <ul class="user_menu"><li class=""><a th:href="@{/logout}"><div class="button-t"><span>Logout</span></div></a></li><li class="last"><a th:href="@{/login}"><div class="button-t"><span>Log in</span></div></a></li></ul> <li><i>Welcome,</i> <b>[[${session.user.username}]]</b></li>
					
					</div>
					<div class="header-right">
						 <ul class="follow_icon">
							<li><a href="#"><img th:src="@{images/1.png}" alt=""/></a></li>
							<li><a href="#"><img th:src="@{images/icon3.png}" alt=""/></a></li>
						</ul> 
					</div><div class="clear"></div> 
					<div class="header-bot">
						<div class="logo">
							<a th:href="@{/index}"><img th:src="@{images/3.png}" alt="" style="width:300px;height:150px;margin-top:-1px;padding-left:-1px"/></a>
						</div>
						<form th:action="@{/search-and-page}" method="post">
						<div class="search">
						    <input type="text" class="textbox" name="keywords" th:value="${keywords}" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '';}">
						    <button class="gray-button" ><span>Search</span></button>
				       </div>
				       </form>
					<div class="clear"></div> 
				</div>		
		</div>	
		<div class="menu"> 
		
			 
		<th:block th:if="${session.user.admin == false}">
		<div class="top-nav"> 
					<ul>
						<li class="active"><a th:href="@{/index}">Home</a></li>
						<li><a th:href="@{/about}">About</a></li>
						<li><a th:href="@{/special}">Specials</a></li>
						<li><a th:href="@{/Product}">Product</a></li>
						<li><a th:href="@{/contact}">Contact</a></li>
					</ul>
	
					<div class="clear"></div> 	
				</div>
				
			  </th:block>
			  
			 
		
		<th:block th:if="${session.user.admin == true}">
		<div class="top-nav"> 
					<ul>
						<li class="active"><a th:href="@{/index}">Home</a></li>
						<li><a th:href="@{/about}">About</a></li>
						<li><a th:href="@{/special}">Specials</a></li>
						<li><a th:href="@{/Product}">Product</a></li>
						<li><a th:href="@{/contact}">Contact</a></li>
						<li><a th:href="@{/admin}">Manger</a></li>
					</ul>
	
					<div class="clear"></div> 	
				</div>
			</th:block>
			
		</div> 
		
		
		
		<div class="banner-top">
			<div class="header-bottom">
				 <div class="header_bottom_right_images">
				     	<div id="slideshow">
							<ul class="slides">
						    	<li><a href="#"><canvas ></canvas><img th:src="@{images/4.jpg}" alt="Marsa Alam underawter close up"  width="1000px"></a></li>
						        <li><a href="#"><canvas></canvas><img th:src="@{images/5.jpg}" alt="Turrimetta Beach - Dawn"  width="1000px"></a></li>
						        <li><a href="#"><canvas></canvas><img th:src="@{images/6.jpg}" alt="Power Station" width="1000px"></a></li>
						        <li><a href="#"><canvas></canvas><img th:src="@{images/7.jpg}" alt="Colors of Nature" width="1000px"></a></li>
					            <li><a href="#"><canvas></canvas><img th:src="@{images/8.jpg}" alt="Colors of Nature" width="1000px"></a></li>
						        
						    </ul>
						    <span class="arrow previous"></span>
						    <span class="arrow next"></span>
				  	</div>
		  			<div class="content-wrapper">		  
						<div class="content-top">
							  	<div class="box_wrapper"><h1>Product Search</h1>
								</div>
							 <div class="text" th:each="p : ${items}"> 
								<div class="grid_1_of_3 images_1_of_3">
									<div class="grid_1">
 										<a href="#"><img th:src="@{'/images/'+ ${p.image}}" title="continue reading" alt="" width="320px"></a>
 											<div class="grid_desc">
												<p class="title" th:text="${p.name}"></p>
												<p class="title1" th:text="${p.description}"></p>
													 <div class="price" style="height: 19px;">
													 	 <del  th:text="${p.discount}"></del><span>$</span>
								        				 <span th:text="${p.price}"></span><span>$</span>
													</div>
													<div class="cart-button">
														<div class="cart">
															<a th:href="@{'datail/'+ ${p.productId}}"> <img  th:src="@{images/cart.png}" alt=""/></a>
														</div>
														<button class="button"><span>Details</span></button>
													<div class="clear"></div>
												</div>
											</div>
								</div><div class="clear"></div>
							</div>
							
							
						
						</div>
				</div>
		</div>
		   
		<div class="header-para">
				<div class="categories" >
						<div class="list-categories" th:each="cate : ${listcate}">
							<div class="first-list">
								<div class="div_2"><a href="#" th:text="${cate.name}"></a></div>
								<div class="div_img">
									<img th:src="@{images/car1.jpg}" alt="Cars" title="Cars" width="60" height="39">
								</div>
								<div class="clear"></div>
							</div>	
								
				</div>
			
				<div class="box-title">
					<h1><span class="title-icon"></span><a href="#">Branches</a></h1>
				</div>
				<div class="section group example">
					<div class="col_1_of_2 span_1_of_2">
					  <img  th:src="@{images/pic12.jpg}" alt=""/><br/>
					   <img th:src="@{images/pic13.jpg}" alt=""/><br/>
					   <img th:src="@{images/pic15.jpg}" alt=""/><br/>
					   <img th:src="@{images/pic17.jpg}" alt=""/><br/>
	 				</div>
					<div class="col_1_of_2 span_1_of_2">
						 <img th:src="@{images/pic14.jpg}" alt=""/><br/>
					  	<img th:src="@{images/pic18.jpg}" alt=""/><br/>
					  	<img th:src="@{images/pic19.jpg}" alt=""/>
					  	<img th:src="@{images/pic20.jpg}" alt=""/>
					  </div><div class="clear"></div>
		   		 </div>
		   		
				<div class="clear"></div>
				</div>
					<div class="box-title">
					<h1><span class="title-icon"></span><a href="#">Cars</a></h1>
				</div>
				<div class="section group example">
					<div class="col_1_of_2 span_1_of_2">
					  <img th:src="@{images/pic17.jpg}" alt=""/><br/>
					   <img th:src="@{images/pic18.jpg}" alt=""/><br/>
					   <img th:src="@{images/pic19.jpg}" alt=""/><br/>
					   <img th:src="@{images/pic20.jpg}" alt=""/><br/>
	 				</div>
					<div class="col_1_of_2 span_1_of_2">
						 <img th:src="@{images/pic13.jpg}" alt=""/><br/>
					  	<img th:src="@{images/pic14.jpg}" alt=""/><br/>
					  	<img th:src="@{images/pic15.jpg}" alt=""/>
					  	<img th:src="@{images/pic16.jpg}" alt=""/>
					  </div><div class="clear"></div>
		   		 </div>
		   		
				<div class="clear"></div>
				</div>			
	</div>
	
		<div class="clear"></div>
		<div class="footer-bottom center">
			<div class="copy">
				<p style="margin-left:430px">&copy 2023 Sunny Cars . All rights Reserved | Design by Thanh Thao</p>
			</div>
		</div>
	</div>	
</div>
</div>
</div>
</div>
</div>
</body>
</html>

    	
    	
    	
            